/*
This files contents are outlined below.
01. BODY 
02. TYPOGRAPGY 
03. HELPER
04. COMPONENTS
  - NAVBAR
  - BUTTONS
  - FORM
  - PAGINATION
  - TABS
  - CAROUSEL
05. MAIN-HEADER 
06. CONTENT 
  - ABOUT
  - SERVICES
  - RESUME
  - SKILLS 
  - PORTFOLIO
  - BLOG
  - CONTACT
  - TESTIMONIAL
  - PARALLAX
  - CAPTCHA
07. MAIN-FOOTER 
*/
/*============================
     01. BODY
============================*/
body {
  background: #C1A891;
  color: #000;
  font-family: 'Open Sans';
  line-height: 1.6;
  font-size: 16px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  
}
.wrapper {
  z-index: 2;
  visibility: visible; 
  opacity: 1.0; 
  position: relative;
}
/*============================
     02. TYPOGRAPGY
============================*/
h1 {
  letter-spacing: 0.125em;
  font-size: 4em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h2 {
  letter-spacing: 0.125em;
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h3 {
  letter-spacing: 0.125em;
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 2em;
  letter-spacing: 0.0625em;
  margin-top: 0.5em;
  margin-bottom: 0em;
}
h5 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0em;
}
h6 {
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-bottom: 0em;
}

.p-plus-2 {
  font-size: 1.25em;
}
.p-plus {
  font-size: 1.125em;
}
.p-norm {
  font-size: 1em;
}
.p-minus {
  font-size: 0.875em;
}

.p-minus-2 {
  font-size: 0.75em;
}
p {
  font-size: 1em;
}

/*============================
     03. HELPER
============================*/
.menu-panel {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "menu-left menu-right";
	grid-gap: 0px 20px;
	width: calc(100%-40px); 
	margin: auto;
}

.menu-left { 
	grid-area: menu-left; 
	justify-self: stretch;	
}
.menu-right { 
	grid-area: menu-right;
	justify-self: stretch;	
}


.content-table {
  display: table;
  position: relative;
  width: 100%;
}
.content-table .v-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
  float: none;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.margin-right-1em {
  margin-right: 1em;
}
.margin-right-5 {
  margin-right: 5px;
}
.fix-width-100 {
  width: 100px;
  display: inline-block;
}
.paddingTB-30 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.padding20 {
  padding: 20px;
}
.padding30 {
  padding: 30px;
}
.white-space-10 {
  height: 10px;
}
.white-space-20 {
  height: 20px;
}
.white-space-30 {
  height: 30px;
}
.white-space-40 {
  height: 40px;
}
.white-space-50 {
  height: 50px;
}
.white-space-60 {
  height: 60px;
}
.space-inline-15 {
  display: inline-block;
  width: 15px;
}
.space-inline-30 {
  display: inline-block;
  width: 30px;
}

/*============================
     03. COLOUR
============================*/


.color-dark {
  color: #795D47;
}
.color-primary {
  color: #9C7C63;
}
.color-light {
  color: #F2EEAC;
}

.color-orange {
 color: #DC9239;
}

.color-brightorange {
 color: #DC9239;
}
.color-yellow {
 color: #DC9239;
}

.bg-darkest {
  background-color: #111;
}
.bg-darker {
  background-color: #896D57;
}
.bg-dark {
  background-color: #896D57;
}
.bg-white {
  background-color: #fff;
  color: #222;
}
.bg-black {
  background-color: #000;
  color: #fff;
}
.bg-light {
  background-color: #D1B8A1;
  color: #111;
}
.bg-lighter {
  background-color: #E1C8B1;
  color: #111;
}
.bg-lightest {
  background-color: #f8f8f8;
  color: #111;
}

.icon-sm {
  font-size: 1.125em;
}
.icon-xs {
  font-size: 1em;
}
.icon-md {
  font-size: 1.25em;
}
.icon-l {
  font-size: 1.5em;
}
.icon-xl {
  font-size: 2em;
}

.img-bordered {
  max-width: 100%;
  border: 4px double #ebebeb;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  border-radius: 10px !important;
  margin-bottom: 30px;
}

blockquote {
  margin-bottom: 30px;
  font-size: 14px;
}

.list-with-icon li {
  padding-left: 30px;
  position: relative;
}
.list-with-icon li .ic-list {
  position: absolute;
  top: 7px;
  left: 0;
}

.box-line {
  border: 3px solid #000000;
  color: #000000;
  background: rgba(255, 255, 255, 0.3);
  letter-spacing: 2px;
  padding: 10px 30px;
  display: inline-block;
}
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.text-bold {
  font-weight: 700;
}
.text-extra-bold {
  font-weight: 800;
}
.text-light {
  font-weight: 300;
}
.font-alt {
  font-family: "Candara","Calibri","Segoe","Segoe UI","Optima","Arial","sans-serif";
}
.text-indent-3 {
  text-indent: 3em;
}
.text-indent-2 {
  text-indent: 2em;
}
.br-right {
  border-right: 1px solid #ebebeb !important;
}
.br-left {
  border-left: 1px solid #ebebeb !important;
}
.br-top {
  border-top: 1px solid #ebebeb !important;
}
.br-bottom {
  border-bottom: 1px solid #ebebeb !important;
}
.line-dash-bottom {
  border-bottom: 1px dashed #ebebeb;
  padding-bottom: 12px;
}
.padding-left-30 {
  padding-left: 30px;
}
.relative {
  position: relative;
  z-index: 1;
}
.white-light {
  position: relative;
}
.white-light:before {
  content: "";
  position: absolute;
  width: 50%;
  transition: top 1s ease 0.3s, background 1s ease 0s;
  -webkit-transition: top 1s ease 0.3s, background 1s ease 0s;
  -moz-transition: top 1s ease 0.3s, background 1s ease 0s;
  -o-transition: top 1s ease 0.3s, background 1s ease 0s;
  -ms-transition: top 1s ease 0.3s, background 1s ease 0s;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.white-light:after {
  content: "";
  position: absolute;
  width: 50%;
  transition: bottom 1s ease 0.3s, background 1s ease 0s;
  -webkit-transition: bottom 1s ease 0.3s, background 1s ease 0s;
  -moz-transition: bottom 1s ease 0.3s, background 1s ease 0s;
  -o-transition: bottom 1s ease 0.3s, background 1s ease 0s;
  -ms-transition: bottom 1s ease 0.3s, background 1s ease 0s;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.block-page {
  padding: 60px 0;
}

.black-light {
  position: relative;
}

.black-light:before {
  content: "";
  position: absolute;
  width: 50%;
  transition: top 1s ease 0.3s, background 1s ease 0s;
  -webkit-transition: top 1s ease 0.3s, background 1s ease 0s;
  -moz-transition: top 1s ease 0.3s, background 1s ease 0s;
  -o-transition: top 1s ease 0.3s, background 1s ease 0s;
  -ms-transition: top 1s ease 0.3s, background 1s ease 0s;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.black-light:after {
  content: "";
  position: absolute;
  width: 50%;
  transition: bottom 1s ease 0.3s, background 1s ease 0s;
  -webkit-transition: bottom 1s ease 0.3s, background 1s ease 0s;
  -moz-transition: bottom 1s ease 0.3s, background 1s ease 0s;
  -o-transition: bottom 1s ease 0.3s, background 1s ease 0s;
  -ms-transition: bottom 1s ease 0.3s, background 1s ease 0s;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.block-section {
  background: #ffffff;
  position: relative;
  z-index: 1;
}

.block-title {
  padding: 20px 0;
  z-index: 3;
  position: relative;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
}

.block-title .title-icon {
  display: inline-block;
  position: relative;
}

.block-title .title-icon:before {
  content: "";
  position: absolute;
  height: 1px;
  background: #323232;
  width: 20px;
  left: -30px;
  top: 50%;
}
.block-title .title-icon:after {
  content: "";
  position: absolute;
  height: 1px;
  background: #323232;
  width: 20px;
  right: -30px;
  top: 50%;
}
.shape-bottom {
  z-index: 2;
  position: relative;
}

.error {
  color: #BD2929;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.progress-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}
.progress-wrap .progress {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  height: 10px;
}
.progress-wrap .bar {
  background: #000000;
  min-height: 3px;
  margin: 3px 0;
}
.attbox {
  padding-top: 0px;
  padding-bottom: 10px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.flow-root {
  display: flow-root;
}
/*============================
     04. COMPONENTS
============================*/
/*== NAVBAR ==*/
.menu-area {
  position: absolute;
  transition: background 0.8s ease 0s;
  -webkit-transition: background 0.8s ease 0s;
  -moz-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  -ms-transition: background 0.8s ease 0s;
  bottom: 0;
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
}
.menu-area .toogle-bars {
  display: none;
}
.menu-area .toogle-bars a {
  text-decoration: none;
  color: #FFF;
}
.menu-area .toogle-bars a .ic-open {
  display: none;
  visibility: hidden;
}
.menu-area .toogle-bars a .ic-close {
  display: inline;
  visibility: visible;
}
.menu-area .toogle-bars a.collapsed .ic-open {
  display: inline;
  visibility: visible;
}
.menu-area .toogle-bars a.collapsed .ic-close {
  display: none;
  visibility: hidden;
}

.menu-area .main-nav {
  visibility: visible !important;
  margin: 0;
  background: #000;
}
.menu-area .main-nav > li {
  display: inline;
}

.menu-area .main-nav > li > a {
  font-weight: 700;
  color: #bbb;
  outline: none;
  font-size: 0.875em;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  text-decoration: none;
  text-transform: uppercase;
}
.clearfix {
overflow: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


.menu-area .main-nav > li > a:hover {
  color: #FF0;
  outline: none;
}

.menu-area .main-nav > li + li:before {
  color: #323232;
}
.menu-area .main-nav > li.active > a {
  color: #FC0;
  font-weight:900;
}
.menu-area .main-nav.nav > li > a {
  padding: 0;
  display: inline-block;
}
.menu-area .main-nav.nav > li > a:hover,
.menu-area .main-nav.nav > li > a:focus {
  background: transparent;
}
.menu-area .main-nav.no-space > li + li:before {
  content: "";
}
.menu-area.nav-white-bg {
  border-bottom: 1px solid #ebebeb;
  background: #ffffff;
}
.menu-area.nav-white-bg .main-nav > li > a {
  color: #7d7d7d;
}
.menu-area.nav-white-bg .main-nav > li > a:hover {
  color: #FFF;
}
.menu-area.nav-white-bg .main-nav > li.active > a {
  color: #FFF;
}
.menu-area.nav-white-bg .main-nav > li + li:before {
  color: #ebebeb;
}

.menu-area.nav-black-bg {
  border-bottom: 1px solid #111;
  background: #000;
}
.menu-area.nav-black-bg .main-nav > li > a {
  color: #7d7d7d;
}
.menu-area.nav-black-bg .main-nav > li > a:hover {
  color: #fe0;
}
.menu-area.nav-black-bg .main-nav > li.active > a {
  color: #fc4;
}
.menu-area.nav-black-bg .main-nav > li + li:before {
  color: #111;
}
.breadcrumb {
background-color: #333;
padding: 5px 5px;
border-radius: 12px;
}

.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.menu-area.nav-fixed {
  position: fixed;
  top: 0;
  background: #000;
  z-index: 100;
  bottom: inherit;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 769px) {
  .menu-area .menu-collapse.collapse {
    display: block;
    height: auto !important;
  }
}
@media (max-width: 768px) {
  .menu-area {
    border-bottom: 1px solid #111;
    background: #000;
  }
  .menu-area .main-nav > li > a {
    color: #bbb;
  }
  .menu-area .main-nav > li > a:hover {
    color: #ff0;
  }
  .menu-area .main-nav > li.active > a {
    color: #F80;
  }
  .menu-area .main-nav > li + li:before {
    color: #ebebeb;
  }
  .menu-area .toogle-bars {
    display: block;
  }
  .menu-area .menu-collapse.collapse.in {
    border-top: 1px solid #ebebeb;
    margin-top: 10px;
    display: block;
  }
}
/*== BUTTONS ==*/

.btn-flat-line {
  font-family: 'Open Sans';
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  font-weight: 700;
  font-size: 0.875em;
  min-width: 151px;
  border-width: 3px;
  letter-spacing: 1px;
  padding: 0.75em;
  background-color: transparent;
  color: #000000;
}
.btn-flat-line.light-font {
  color: #ffffff;
}
.btn-flat-line.btn-default {
  color: #000000;
  border-color: #ebebeb;
}
.btn-flat-line.btn-default:hover,
.btn-flat-line.btn-default:focus {
  background: #000000;
  color: #ffffff;
}
.btn-flat-line.btn-default.light-font {
  border-color: #ffffff;
  color: #ffffff;
}
.btn-flat-line.btn-default.light-font:hover,
.btn-flat-line.btn-default.light-font:focus {
  background-color: #ffffff;
  color: #000000;
}
.btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#008 0,#004 100%);
    background-image: -o-linear-gradient(top,#008 0,#004 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#008),to(#004));
    background-image: linear-gradient(to bottom,#008 0,#004 100%);
    background-repeat: repeat-x;
    border-color: #ccc;
}

/*============================
     05. MAIN-HEADER
============================*/
.main-header {
  height: 800px;
  position: relative;
  line-height: 1.1;
}
.main-header .header-content-fixed {
  height: 800px;
  background: url(../images/header-background.jpg) no-repeat 50% 25%;
  background-size: 95%;
  background-attachment: fixed;
  text-align: center;
  position: fixed;
  z-index: 0;
  width: 100%;
}
.main-header .header-content-fixed:before {
  content: "";
  position: absolute;
  width: 50.001%;
  transition: top 1s ease 0.3s, background 1s ease 0s;
  -webkit-transition: top 1s ease 0.3s, background 1s ease 0s;
  -moz-transition: top 1s ease 0.3s, background 1s ease 0s;
  -o-transition: top 1s ease 0.3s, background 1s ease 0s;
  -ms-transition: top 1s ease 0.3s, background 1s ease 0s;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.main-header .header-content-fixed:after {
  content: "";
  position: absolute;
  width: 50.001%;
  transition: bottom 1s ease 0.3s, background 1s ease 0s;
  -webkit-transition: bottom 1s ease 0.3s, background 1s ease 0s;
  -moz-transition: bottom 1s ease 0.3s, background 1s ease 0s;
  -o-transition: bottom 1s ease 0.3s, background 1s ease 0s;
  -ms-transition: bottom 1s ease 0.3s, background 1s ease 0s;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}
@media (max-width: 1024px) {
  .main-header .header-content-fixed {
    position: relative;
  }
}
.main-header:hover .header-content-fixed:before {
  background: rgba(0, 0, 0, 0.2);
}
.main-header:hover .header-content-fixed:after {
  background: rgba(0, 0, 0, 0.25);
}


.main-header .name {
  font-size: 4em;
  margin-bottom: 0px;
  font-weight: 700;
  position: relative;
  z-index: 3;
  letter-spacing: 0.125em;
}
.main-header .job {
  font-size: 2em;
  position: relative;
  display: inline-block;
  z-index: 3;
  border-bottom: 1px solid #000000;
  padding: 0.5em;
  letter-spacing: 0.125em;
}
.typed-container {
	background-color: rgba(0,0,0,0.4);
        z-index: 2;
	top: 50%;
	left: 0px;
	width: 100%;
	position: fixed;
}

.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc;
}
/*============================
     06. MAIN-CONTENT
============================*/
/*== ABOUT ==*/


#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "my-pict my-desc";
}

.my-profile {
  position: relative;
}
.my-pict {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(http://www.nicklim.com/images/alpaca.jpg);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
@media (max-width: 880px) {
  .my-pict {
    position: relative;
    height: 800px;
  }
}
.my-pict .overfly {
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  overflow: hidden;
  height: 100%;
}
.my-pict .overfly .text-botttom {
  position: absolute;
  width: 100%;
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  bottom: 0;
  right: 0;
  padding: 2.5em 0.5em;
  text-align: right;
}
.my-pict .overfly:hover {
          background: rgba(0,0,0,0.4);
}
.text-botttom{
  bottom: -100%;
}

.my-desc {
grid-area: my-desc;
}

.my-pict {
 grid-area: my-pict;
}
@media (max-width: 880px) {
 #about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1auto 1auto;
  grid-template-areas: "my-pict" "my-desc";
  }
}
.my-desc {
  float: right;
}
.my-desc .inner-text {
  max-width: 90%;
  text-align: justify;
  padding: 2.5em;
}

.detail-th {
    width:30%; 
    white-space: nowrap; 
    padding-right:0.625em; 
    vertical-align: top;
}

.detail-td {
    width:70%; 
    white-space: pre-wrap;
    text-align:left;
}
.detail-td a {
  color: #FFF;
}
.detail-td a:hover {
  color: #FF8;
}
/*== SERVICES ==*/
.resumebtn a {
  color: #FFF;
}
.resumebtn a:hover {
  color: #FF8;
}
.resumebtn {
  margin: 0;
}
.resumebtn li {
  text-align: center;
}
.resumebtn li .box {
  padding: 1.25em 0;
  border-right: #222 solid 1px;
}
.resumebtn li .ic {
  font-size: 2em;
  line-height: 1.25em;
}
.resumebtn li:last-child .box {
  border-right: 0;
}
@media (max-width: 768px) {
  .resumebtn li .box {
    border-right: 0;
    border-bottom: #111 solid 1px;
    padding: 40px 0;
  }
  .resumebtn li:last-child .box {
    border-bottom: 0;
  }
}

.shape-bottom .ic {
  font-size: 2em;
  line-height: 2em;
}
.list-employment,
.list-education,
.list-publication,
.list-misc {
  padding: 1em 0 0.4em 0;
  margin: 0;
  position: relative;
  color: #222;
  
}
.list-employment li,
.list-education li,
.list-publication li,
.list-misc li {
  width: 70%;
  clear: both;
  float: left;
  text-align: right;
  position: relative;
}
.list-employment li .ic,
.list-education li .ic {
  width: 1.75em;
  height: 1.75em;
  line-height: 1.75em;
  font-size: 1.5em;
  text-align: center;
  background: #000000;
  color: #ffffff;
  position: absolute;
  right: 0px;
  top: 1em;
  margin: 0.5em 0.5em;
}
.list-publication li .ic,
.list-misc li .ic {
  width: 1.75em;
  height: 1.75em;
  line-height: 1.75em;
  font-size: 1.5em;
  text-align: center;
  background: #000000;
  color: #ffffff;
  position: absolute;
  right: 0px;
  top: 0.5em;
  margin: 0.5em 0.5em;
}

.list-employment li .number,
.list-education li .number {
  position: absolute;
  font-style: italic;
  right: -2em;
  left: inherit;
  padding-bottom: 0.5em;
  font-size: 4em;
  color: #888;
  line-height: 2em;
}
.list-employment li .desc,
.list-education li .desc,
.list-publication li .desc,
.list-misc li .desc {
  padding: 20px;
  padding-right: 60px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.list-employment li:nth-child(odd),
.list-education li:nth-child(odd),
.list-publication li:nth-child(odd),
.list-misc li:nth-child(odd) {
  float: right;
  text-align: left;
}
.list-employment li:nth-child(odd) .ic,
.list-education li:nth-child(odd) .ic,
.list-publication li:nth-child(odd) .ic,
.list-misc li:nth-child(odd) .ic {
  left: 0;
}
.list-employment li:nth-child(odd) .number,
.list-education li:nth-child(odd) .number {
  left: -2em;
  right: inherit;
}
.list-employment li:nth-child(odd) .desc,
.list-education li:nth-child(odd) .desc,
.list-publication li:nth-child(odd) .desc,
.list-misc li:nth-child(odd) .desc {
  padding-right: 1em;
  padding-left: 4em;
}
@media (max-width: 768px) {
  .list-employment li,
  .list-education li,
  .list-publication li,
  .list-misc li {
    background: #ffffff;
    width: 100%;
  }
  .list-employment li .desc,
  .list-education li .desc, 
  .list-publication li .desc,
  .list-misc li .desc {
    border-top: 1px solid #ebebeb;
    border-bottom: 0;
  }
  .list-employment li:last-child .desc,
  .list-education li:last-child .desc, 
  .list-publication li:last-child .desc,
  .list-misc li:last-child .desc {
    border-bottom: 1px solid #ebebeb;
  }
  .list-employment .number,
  .list-education .number {
    display: none;
  }
}




/*============================
     06. MAIN-FOOTER 
============================*/
.main-footer {
  padding-bottom: 2.5em;
  font-size: 0.75em;
  background: #323232;
  position: relative;
  border-top: 1px solid #505050;
  border-bottom: 5px solid #505050;
}
.main-footer .folow-me {
  text-align: center;
  background: #505050;
  padding: 0.25em;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 10em;
}
.main-footer .back-to-top {
  position: absolute;
  bottom: -0.25em;
  left: 50%;
  display: block;
  width: 2em;
  height: 2em;
  margin-left: -1em;
  text-decoration: none;
  outline: none;
  line-height: 2em;
  text-align: center;
  color: #7d7d7d;
  background: #505050;
}
.main-footer .back-to-top:hover,
.main-footer .back-to-top:focus {
  color: #ffffff;
}
.main-footer p {
  position: relative;
}
.main-footer:before {
  content: "";
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
}
.social-links {
  padding: 0;
  margin-bottom: 0.5em;
}
.social-links a {
  position: relative;
  color: #ffffff;
  display: block;
  transition: background 0.8s ease 0s;
  -webkit-transition: background 0.8s ease 0s;
  -moz-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  -ms-transition: background 0.8s ease 0s;
  width: 2em;
  text-decoration: none;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  background: #282828;
  border-radius: 10%;
}
.social-links a i {
  position: relative;
}
.social-links a:hover {
  background: #ffffff;
  color: #000000;
}

.pace.pace-inactive {
  display: none;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  height: 60px;
  width: 100px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace .pace-progress {
  z-index: 2000;
  position: absolute;
  height: 60px;
  width: 100px;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:before {
  content: attr(data-progress-text);
  text-align: center;
  color: #fff;
  background: #50646f;
  border-radius: 50%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 100;
  line-height: 2;
  padding: 10% 0 7px;
  width: 40%;
  height: 65%;
  margin: 10px 0 0 30px;
  display: block;
  z-index: 999;
  position: absolute;
}

.pace .pace-activity {

}

.pace .pace-activity {
  border-radius: 50%;
  border: 5px solid #50646f;
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100px;
  font-size: 1em;
  line-height: 1;
  z-index: 2000;
  -webkit-animation: pace-theme-center-atom-spin 2s linear infinite;
  -moz-animation: pace-theme-center-atom-spin 2s linear infinite;
  -o-animation: pace-theme-center-atom-spin 2s linear infinite;
  animation: pace-theme-center-atom-spin 2s linear infinite;
}

.pace .pace-activity:after {
  border-radius: 50%;
  border: 5px solid #50646f;
  content: ' ';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  height: 60px;
  width: 100px;

  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.pace .pace-activity:before {
  border-radius: 50%;
  border: 5px solid #50646f;
  content: ' ';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  height: 60px;
  width: 100px;

  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}

@-webkit-keyframes pace-theme-center-atom-spin {
  0%   { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(359deg) }
}
@-moz-keyframes pace-theme-center-atom-spin {
  0%   { -moz-transform: rotate(0deg) }
  100% { -moz-transform: rotate(359deg) }
}
@-o-keyframes pace-theme-center-atom-spin {
  0%   { -o-transform: rotate(0deg) }
  100% { -o-transform: rotate(359deg) }
}
@keyframes pace-theme-center-atom-spin {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(359deg) }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.4s infinite;
    -moz-animation: blink 0.4s infinite;
    animation: blink 0.4s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


