body{background:#000;color:#ddd;font-family:'Open Sans';line-height:1.6;font-size:16px;position:relative;-webkit-font-smoothing:antialiased;}
.wrapper{z-index:2;visibility:visible;opacity:1.0;position:relative;}
h1{letter-spacing:0.125em;font-size:4em;margin-top:0.5em;margin-bottom:0.5em;}
h2{letter-spacing:0.125em;font-size:3em;margin-top:0.5em;margin-bottom:0.5em;}
h3{letter-spacing:0.125em;font-size:2.5em;margin-top:0.5em;margin-bottom:0.5em;}
h4{font-size:2em;letter-spacing:0.0625em;margin-top:0.5em;margin-bottom:0em;}
h5{font-size:1.5em;margin-top:0.5em;margin-bottom:0em;}
h6{font-size:1.25em;margin-top:0.5em;margin-bottom:0em;}
.p-plus-2{font-size:1.25em;}
.p-plus{font-size:1.125em;}
.p-minus{font-size:0.875em;}
p{font-size:1em;}
.content-table{display:table;position:relative;width:100%;}
.no-margin-top{margin-top:0;}
.no-margin{margin:0;}
.no-padding{padding:0;}
.margin-right-1em{margin-right:1em;}
.margin-right-5{margin-right:5px;}
.padding30{padding:30px;}
.color-dark{color:#000000;}
.color-light{color:#ebebeb;}
.color-brightorange{color:#fc0;}
.bg-darkest{background-color:#111;}
.bg-darker{background-color:#222;}
.bg-dark{background-color:#444;}
.bg-black{background-color:#000;color:#fff;}
.bg-light{background-color:#ddd;color:#111;}
.icon-sm{font-size:1.125em;}
.text-bold{font-weight:700;}
.font-alt{font-family:"Candara","Calibri","Segoe","Segoe UI","Optima","Arial","sans-serif";}
.text-indent-2{text-indent:2em;}
.block-section{background:#ffffff;position:relative;z-index:1;}
.block-title{padding:20px 0;z-index:3;position:relative;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;text-align:center;}
.shape-bottom{z-index:2;position:relative;}
.float-left{float:left;}
.float-right{float:right;}
.flow-root{display:flow-root;}
.menu-area{position:absolute;transition:background 0.8s ease 0s;-webkit-transition:background 0.8s ease 0s;-moz-transition:background 0.8s ease 0s;-o-transition:background 0.8s ease 0s;-ms-transition:background 0.8s ease 0s;bottom:0;padding:10px 0;background:rgba(0, 0, 0, 0.3);left:0;border-bottom:2px solid #141414;text-align:center;width:100%;z-index:100;}
.menu-area .toogle-bars{display:none;}
.menu-area .toogle-bars a{text-decoration:none;color:#FFF;}
.menu-area .toogle-bars a .ic-open{display:none;visibility:hidden;}
.menu-area .toogle-bars a .ic-close{display:inline;visibility:visible;}
.menu-area .toogle-bars a.collapsed .ic-open{display:inline;visibility:visible;}
.menu-area .toogle-bars a.collapsed .ic-close{display:none;visibility:hidden;}
.menu-area .main-nav{visibility:visible !important;margin:0;background:#000;}
.menu-area .main-nav > li{display:inline;}
.menu-area .main-nav > li > a{font-weight:700;color:#bbb;outline:none;font-size:0.875em;transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;text-decoration:none;text-transform:uppercase;}
.menu-area .main-nav > li > a:hover{color:#FF0;outline:none;}
.menu-area .main-nav > li + li:before{color:#323232;}
.menu-area .main-nav > li.active > a{color:#FC0;font-weight:900;}
.menu-area .main-nav.nav > li > a{padding:0;display:inline-block;}
.menu-area .main-nav.nav > li > a:hover,
.menu-area .main-nav.nav > li > a:focus{background:transparent;}
.menu-area .main-nav.no-space > li + li:before{content:"";}
.menu-area .nav-fixed {position:fixed;top:0;background:#000;z-index:100;bottom:inherit;border-bottom:1px solid #ebebeb;}
.breadcrumb{background-color:#333;padding:5px 5px;}
@media (min-width:769px){.menu-area .menu-collapse.collapse{display:block;height:auto !important;}
}
@media (max-width:768px){.menu-area{border-bottom:1px solid #111;background:#000;}
.menu-area .main-nav > li > a{color:#bbb;}
.menu-area .main-nav > li > a:hover{color:#ff0;}
.menu-area .main-nav > li.active > a{color:#F80;}
.menu-area .main-nav > li + li:before{color:#ebebeb;}
.menu-area .toogle-bars{display:block;}
}
.btn-flat-line{font-family:'Open Sans';-webkit-border-radius:0 !important;-moz-border-radius:0 !important;-ms-border-radius:0 !important;-o-border-radius:0 !important;border-radius:0 !important;transition:all 0.8s ease 0s;-webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;-o-transition:all 0.8s ease 0s;-ms-transition:all 0.8s ease 0s;font-weight:700;text-transform:uppercase;font-size:0.875em;min-width:151px;border-width:3px;letter-spacing:1px;padding:0.75em;background-color:transparent;color:#000000;}
.btn-flat-line.light-font{color:#ffffff;}
.btn-flat-line.btn-default{color:#000000;border-color:#ebebeb;}
.btn-flat-line.btn-default:hover,
.btn-flat-line.btn-default:focus{background:#000000;color:#ffffff;}
.btn-flat-line.btn-default.light-font{border-color:#ffffff;color:#ffffff;}
.btn-flat-line.btn-default.light-font:hover,
.btn-flat-line.btn-default.light-font:focus{background-color:#ffffff;color:#000000;}
.btn-default{text-shadow:0 1px 0 #fff;background-image:-webkit-linear-gradient(top,#008 0,#004 100%);background-image:-o-linear-gradient(top,#008 0,#004 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#008),to(#004));background-image:linear-gradient(to bottom,#008 0,#004 100%);background-repeat:repeat-x;border-color:#ccc;}
.main-header{height:800px;position:relative;}
.main-header .header-content-fixed{height:800px;background:url(../images/header-background.jpg) no-repeat top center;background-size:contain;background-attachment:fixed;text-align:center;position:fixed;z-index:0;width:100%;}
.main-header .header-content-fixed:before{content:"";position:absolute;width:50.001%;transition:top 1s ease 0.3s, background 1s ease 0s;-webkit-transition:top 1s ease 0.3s, background 1s ease 0s;-moz-transition:top 1s ease 0.3s, background 1s ease 0s;-o-transition:top 1s ease 0.3s, background 1s ease 0s;-ms-transition:top 1s ease 0.3s, background 1s ease 0s;left:0;top:0;height:100%;background:rgba(0, 0, 0, 0.7);}
.main-header .header-content-fixed:after{content:"";position:absolute;width:50.001%;transition:bottom 1s ease 0.3s, background 1s ease 0s;-webkit-transition:bottom 1s ease 0.3s, background 1s ease 0s;-moz-transition:bottom 1s ease 0.3s, background 1s ease 0s;-o-transition:bottom 1s ease 0.3s, background 1s ease 0s;-ms-transition:bottom 1s ease 0.3s, background 1s ease 0s;right:0;bottom:0;height:100%;background:rgba(0, 0, 0, 0.65);}
@media (max-width:1024px){.main-header .header-content-fixed{position:relative;}
}
.main-header:hover .header-content-fixed:before{background:rgba(0, 0, 0, 0.2);}
.main-header:hover .header-content-fixed:after{background:rgba(0, 0, 0, 0.25);}
.main-header .name{font-size:4em;margin-bottom:0px;font-weight:700;position:relative;z-index:3;letter-spacing:0.125em;}
.main-header .job{font-size:2em;position:relative;display:inline-block;z-index:3;border-bottom:1px solid #000000;padding:0.5em;letter-spacing:0.125em;}
.typed-container{background-color:rgba(0,0,0,0.4);z-index:2;top:50%;left:0px;width:100%;position:fixed;}
.my-profile{position:relative;}
.my-profile .my-pict{background-repeat:no-repeat;background-position:center;background-size:cover;background-image:url(../images/alpaca.jpg);position:absolute;left:0;top:0;height:100%;}
@media (max-width:880px){.my-profile .my-pict{position:relative;height:800px;}
}
.my-profile .my-pict .overfly{background:rgba(0, 0, 0, 0.6);position:absolute;width:100%;left:0;top:0;transition:all 0.8s ease 0s;-webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;-o-transition:all 0.8s ease 0s;-ms-transition:all 0.8s ease 0s;overflow:hidden;height:100%;}
.my-profile .my-pict .overfly .text-botttom{position:absolute;width:100%;transition:all 0.8s ease 0s;-webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;-o-transition:all 0.8s ease 0s;-ms-transition:all 0.8s ease 0s;bottom:0;right:0;padding:2.5em;text-align:right;}
.my-profile .my-pict .overfly:hover{background:rgba(0,0,0,0.4);}
.text-botttom{bottom:-100%;}
.my-profile .my-desc,
.my-profile .my-pict{width:50%;}
@media (max-width:880px){.my-profile .my-desc,
.my-profile .my-pict{width:100% !important;}
}
.my-profile .my-desc{float:right;}
.my-profile .my-desc .inner-text{max-width:90%;text-align:justify;padding:2.5em;}
@media (max-width:880px){.my-profile .my-desc .inner-text{max-width:100%;}
}
.detail-th{width:30%;white-space:nowrap;padding-right:0.625em;vertical-align:top;}
.detail-td{width:70%;white-space:pre-wrap;text-align:left;}
.detail-td a{color:#FFF;}
.detail-td a:hover{color:#FF8;}
.resumebtn a{color:#FFF;}
.resumebtn a:hover{color:#FF8;}
.resumebtn{margin:0;}
.resumebtn li{text-align:center;}
.resumebtn li .box{padding:1.25em 0;border-right:#222 solid 1px;}
.resumebtn li .ic{font-size:2em;line-height:1.25em;}
.resumebtn li:last-child .box{border-right:0;}
@media (max-width:768px){.resumebtn li .box{border-right:0;border-bottom:#111 solid 1px;padding:40px 0;}
.resumebtn li:last-child .box{border-bottom:0;}
}
.shape-bottom .ic{font-size:2em;line-height:2em;}
.list-employment,
.list-education,
.list-publication,
.list-misc{padding:1em 0 0.4em 0;margin:0;position:relative;color:#222;}
.list-employment li,
.list-education li,
.list-publication li,
.list-misc li{width:70%;clear:both;float:left;text-align:right;position:relative;}
.list-employment li .ic,
.list-education li .ic{width:1.75em;height:1.75em;line-height:1.75em;font-size:1.5em;text-align:center;background:#000000;color:#ffffff;position:absolute;right:0px;top:1em;margin:0.5em 0.5em;}
.list-publication li .ic,
.list-misc li .ic{width:1.75em;height:1.75em;line-height:1.75em;font-size:1.5em;text-align:center;background:#000000;color:#ffffff;position:absolute;right:0px;top:0.5em;margin:0.5em 0.5em;}
.list-employment li .number,
.list-education li .number{position:absolute;font-style:italic;right:-2em;left:inherit;padding-bottom:0.5em;font-size:4em;color:#888;line-height:2em;}
.list-employment li .desc,
.list-education li .desc,
.list-publication li .desc,
.list-misc li .desc{padding:20px;padding-right:60px;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;}
.list-employment li:nth-child(odd),
.list-education li:nth-child(odd),
.list-publication li:nth-child(odd),
.list-misc li:nth-child(odd){float:right;text-align:left;}
.list-employment li:nth-child(odd) .ic,
.list-education li:nth-child(odd) .ic,
.list-publication li:nth-child(odd) .ic,
.list-misc li:nth-child(odd) .ic{left:0;}
.list-employment li:nth-child(odd) .number,
.list-education li:nth-child(odd) .number{left:-2em;right:inherit;}
.list-employment li:nth-child(odd) .desc,
.list-education li:nth-child(odd) .desc,
.list-publication li:nth-child(odd) .desc,
.list-misc li:nth-child(odd) .desc{padding-right:1em;padding-left:4em;}
@media (max-width:768px){.list-employment li,
.list-education li,
.list-publication li,
.list-misc li{background:#ffffff;width:100%;}
.list-employment li .desc,
.list-education li .desc,
.list-publication li .desc,
.list-misc li .desc{border-top:1px solid #ebebeb;border-bottom:0;}
.list-employment li:last-child .desc,
.list-education li:last-child .desc,
.list-publication li:last-child .desc,
.list-misc li:last-child .desc{border-bottom:1px solid #ebebeb;}
.list-employment .number,
.list-education .number{display:none;}
}
.main-footer{padding-bottom:2.5em;font-size:0.75em;background:#323232;position:relative;border-top:1px solid #505050;border-bottom:5px solid #505050;}
.main-footer .folow-me{text-align:center;background:#505050;padding:0.25em;margin:0 auto;margin-bottom:1em;width:10em;}
.main-footer .back-to-top{position:absolute;bottom:-0.25em;left:50%;display:block;width:2em;height:2em;margin-left:-1em;text-decoration:none;outline:none;line-height:2em;text-align:center;color:#7d7d7d;background:#505050;}
.main-footer .back-to-top:hover,
.main-footer .back-to-top:focus{color:#ffffff;}
.main-footer:before{content:"";position:absolute;width:50%;right:0;bottom:0;height:100%;background:rgba(0, 0, 0, 0.05);}
.social-links{padding:0;margin-bottom:0.5em;}
.social-links a{position:relative;color:#ffffff;display:block;transition:background 0.8s ease 0s;-webkit-transition:background 0.8s ease 0s;-moz-transition:background 0.8s ease 0s;-o-transition:background 0.8s ease 0s;-ms-transition:background 0.8s ease 0s;width:2em;text-decoration:none;height:2em;font-size:1em;line-height:2em;text-align:center;background:#282828;border-radius:10%;}
.social-links a i{position:relative;}
.social-links a:hover{background:#ffffff;color:#000000;}